POSTGRES_DB={{cookiecutter.django_project_name}}
POSTGRES_PASSWORD={{cookiecutter.postgres_password}}
NGINX_HOST=localhost
DEBUG=on
SECRET_KEY={{cookiecutter.secret_key}}
DATABASE_URL=postgres://postgres:{{cookiecutter.postgres_password}}@db:8432/{{cookiecutter.django_project_name}}
{% if cookiecutter.use_celery == "y" %}
CELERY_BROKER_URL=redis://redis:8379/0
{% if cookiecutter.use_flower == "y" %}
# Flower
CELERY_FLOWER_USER={{cookiecutter.celery_flower_user}}
CELERY_FLOWER_PASSWORD={{cookiecutter.celery_flower_password}}
{% endif %}
{% endif %}
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
SENTRY_DSN={{cookiecutter.sentry_dsn}}
HTTPS_REDIRECT={{cookiecutter.https_redirect}}
HTTPS_PROXY_HEADER={{cookiecutter.https_proxy_header}}
CSP_ENABLED={{cookiecutter.csp_enabled}}
CSP_REPORT_ONLY={{cookiecutter.csp_report_only}}
CSP_REPORT_URL={{cookiecutter.csp_report_url}}
CSP_DEFAULT_SRC="{{cookiecutter.csp_default_src}}"
CSP_SCRIPT_SRC="{{cookiecutter.csp_script_src}}"
CSP_STYLE_SRC="{{cookiecutter.csp_style_src}}"
CSP_FONT_SRC="{{cookiecutter.csp_font_src}}"
CSP_IMG_SRC="{{cookiecutter.csp_img_src}}"
CSP_MEDIA_SRC="{{cookiecutter.csp_media_src}}"
CSP_OBJECT_SRC="{{cookiecutter.csp_object_src}}"
CSP_FRAME_SRC="{{cookiecutter.csp_frame_src}}"
CSP_CONNECT_SRC="{{cookiecutter.csp_connect_src}}"
CSP_CHILD_SRC="{{cookiecutter.csp_child_src}}"
CSP_MANIFEST_SRC="{{cookiecutter.csp_manifest_src}}"
CSP_WORKER_SRC="{{cookiecutter.csp_worker_src}}"
CSP_BLOCK_ALL_MIXED_CONTENT={{cookiecutter.csp_block_all_mixed_content}}
CSP_EXCLUDE_URL_PREFIXES={{cookiecutter.csp_exclude_url_prefixes}}
