Django==2.2.24
{% if cookiecutter.csp_enabled == "y" -%}
django-csp==3.6
{% endif -%}
django-environ==0.4.5
django-extensions==2.1.6
django-probes==1.5.0
{% if cookiecutter.use_celery == "y" -%}
celery==4.4.2
{% if cookiecutter.use_flower == 'y' -%}
flower==0.9.4
{% endif -%}
{% endif -%}
psycopg2-binary==2.8.5
redis==3.5.0
sentry-sdk==0.14.3
