Django==4.2.2
{% if cookiecutter.csp_enabled == "y" -%}
django-csp==3.7
{% endif -%}
django-cors-headers==4.0.0
django-environ==0.4.5
django-extensions==3.2.3
django-probes==1.7.0
django-debug-toolbar==4.1.0
{% if cookiecutter.use_celery == "y" -%}
celery==5.1.2
{% if cookiecutter.use_flower == 'y' -%}
flower==1.0.0
{% endif -%}
{% endif -%}
psycopg2-binary==2.9.6
redis==3.5.3
sentry-sdk==1.25.1
ipython==7.26.0
nox==2023.4.22
{% if cookiecutter.monitoring == "y" %}
prometheus-client~=0.17.0
django-prometheus==2.3.1
django-business-metrics==1.0.0
{% endif %}
{% if cookiecutter.use_fingerprinting == "y" -%}
django-fingerprint-rt @ git+https://github.com/reef-technologies/django-fingerprint-rt.git@220b659
{% endif -%}
