ENV=backend-prod
DEBUG=off
DEBUG_TOOLBAR=off
SECRET_KEY=

POSTGRES_DB={{cookiecutter.django_project_name}}
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER={{cookiecutter.postgres_user}}
POSTGRES_PASSWORD=
DATABASE_POOL_URL=
# using transaction-based db connection pool as DATABASE_URL instead of DATABASE_POOL_URL will break production
DATABASE_URL=postgres://{{cookiecutter.postgres_user}}:@db:5432/{{cookiecutter.django_project_name}}

NGINX_HOST=

CORS_ENABLED=on
CORS_ALLOWED_ORIGINS=
CORS_ALLOWED_ORIGIN_REGEXES=
CORS_ALLOW_ALL_ORIGINS=0

{% if cookiecutter.csp_enabled %}
CSP_EXCLUDE_URL_PREFIXES=
CSP_DEFAULT_SRC='none'
CSP_SCRIPT_SRC='self'
CSP_SCRIPT_SRC_ATTR='none'
CSP_SCRIPT_SRC_ELEM=
CSP_IMG_SRC='self' data:
CSP_OBJECT_SRC='none'
CSP_MEDIA_SRC='self'
CSP_FRAME_SRC='self'
CSP_FONT_SRC='self'
CSP_CONNECT_SRC='self'
CSP_STYLE_SRC='self'
CSP_STYLE_SRC_ATTR='self'
CSP_STYLE_SRC_ELEM=
CSP_BASE_URI='self'
CSP_FRAME_ANCESTORS='none'
CSP_FORM_ACTION='self'
CSP_SANDBOX=
CSP_REPORT_URI=
CSP_REPORT_TO=
CSP_MANIFEST_SRC='self'
CSP_WORKER_SRC='self'
CSP_UPGRADE_INSECURE_REQUESTS=1
CSP_REQUIRE_TRUSTED_TYPES_FOR='script'
CSP_TRUSTED_TYPES='default'

CSP_REPORT_ONLY_EXCLUDE_URL_PREFIXES=
CSP_REPORT_ONLY_DEFAULT_SRC='none'
CSP_REPORT_ONLY_SCRIPT_SRC='self'
CSP_REPORT_ONLY_SCRIPT_SRC_ATTR='none'
CSP_REPORT_ONLY_SCRIPT_SRC_ELEM=
CSP_REPORT_ONLY_IMG_SRC='self' data:
CSP_REPORT_ONLY_OBJECT_SRC='none'
CSP_REPORT_ONLY_MEDIA_SRC='self'
CSP_REPORT_ONLY_FRAME_SRC='self'
CSP_REPORT_ONLY_FONT_SRC='self'
CSP_REPORT_ONLY_CONNECT_SRC='self'
CSP_REPORT_ONLY_STYLE_SRC='self'
CSP_REPORT_ONLY_STYLE_SRC_ATTR='self'
CSP_REPORT_ONLY_STYLE_SRC_ELEM=
CSP_REPORT_ONLY_BASE_URI='self'
CSP_REPORT_ONLY_FRAME_ANCESTORS='none'
CSP_REPORT_ONLY_FORM_ACTION='self'
CSP_REPORT_ONLY_SANDBOX=
CSP_REPORT_ONLY_REPORT_URI=
CSP_REPORT_ONLY_REPORT_TO=
CSP_REPORT_ONLY_MANIFEST_SRC='self'
CSP_REPORT_ONLY_WORKER_SRC='self'
CSP_REPORT_ONLY_UPGRADE_INSECURE_REQUESTS=1
CSP_REPORT_ONLY_REQUIRE_TRUSTED_TYPES_FOR='script'
CSP_REPORT_ONLY_TRUSTED_TYPES='default'
{% endif %}

REDIS_HOST=redis
REDIS_PORT=6379

{% if cookiecutter.use_celery %}
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_TASK_ALWAYS_EAGER=0
CELERY_MASTER_CONCURRENCY=2
CELERY_WORKER_CONCURRENCY=2
{% if cookiecutter.use_flower %}
CELERY_FLOWER_USER=flower
CELERY_FLOWER_PASSWORD=
{% endif %}
{% endif %}

{% if cookiecutter.use_channels %}
CHANNELS_BACKEND_URL=redis://redis:6379/1
{% endif %}

{% if cookiecutter.log_aggregating %}
LOKI_URL={{cookiecutter.log_aggregator_url}}
LOKI_REFRESH_INTERVAL=5s
LOKI_USER=
LOKI_PASSWORD=
LOKI_CLIENT=
LOKI_CLIENT_SERVER_GROUP=
{% endif %}

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_FILE_PATH=/tmp/email
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=apikey
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

SENTRY_DSN={{cookiecutter.sentry_dsn}}

BACKUP_LOCAL_ROTATE_KEEP_LAST=
BACKUP_B2_BUCKET=
BACKUP_B2_FOLDER=
BACKUP_B2_APPLICATION_KEY_ID=
BACKUP_B2_APPLICATION_KEY=

{% if cookiecutter.use_allauth %}
{% if 'apple' in cookiecutter.allauth_providers %}
APPLE_LOGIN_CLIENT_ID=
APPLE_LOGIN_SECRET=
APPLE_LOGIN_KEY=
APPLE_LOGIN_CERTIFICATE_PRIVATE_KEY=
{% endif %}
{% if 'discord' in cookiecutter.allauth_providers %}
DISCORD_LOGIN_CLIENT_ID=
DISCORD_LOGIN_SECRET=
{% endif %}
{% if 'facebook' in cookiecutter.allauth_providers %}
FACEBOOK_LOGIN_CLIENT_ID=
FACEBOOK_LOGIN_SECRET=
{% endif %}
{% if 'github' in cookiecutter.allauth_providers %}
GITHUB_LOGIN_CLIENT_ID=
GITHUB_LOGIN_SECRET=
{% endif %}
{% if 'gitlab' in cookiecutter.allauth_providers %}
GITLAB_LOGIN_CLIENT_ID=
GITLAB_LOGIN_SECRET=
{% endif %}
{% if 'google' in cookiecutter.allauth_providers %}
GOOGLE_LOGIN_CLIENT_ID=
GOOGLE_LOGIN_SECRET=
{% endif %}
{% if 'microsoft' in cookiecutter.allauth_providers %}
MICROSOFT_LOGIN_CLIENT_ID=
MICROSOFT_LOGIN_SECRET=
{% endif %}
{% if 'openid_connect' in cookiecutter.allauth_providers %}
OPENID_CONNECT_NICE_NAME=
OPENID_CONNECT_LOGIN_CLIENT_ID=
OPENID_CONNECT_LOGIN_SECRET=
OPENID_CONNECT_SERVER_URL=
{% endif %}
{% if 'twitter' in cookiecutter.allauth_providers %}
TWITTER_LOGIN_CLIENT_ID=
TWITTER_LOGIN_SECRET=
{% endif %}
{% if 'atlassian' in cookiecutter.allauth_providers %}
ATLASSIAN_LOGIN_CLIENT_ID=
ATLASSIAN_LOGIN_SECRET=
{% endif %}
{% endif %}