ENV=prod
# Full URL of the DefectDojo instance
DD_URL=
# API v2 key for the DefectDojo instance
DD_API_KEY=
# Product name in DefectDojo - a unique name to identify the current application
DD_PRODUCT=
SENTRY_DSN=
